header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

header > h1 {
  font-weight: 300;
}

header > h1 > span {
  font-weight: 500;
}
